@model dynamic
           
<div class="info-accou" style="width: 400px;padding:10px 0 15px 20px !important;">
            <p><strong>Name</strong> @Model.Name</p>
            <p><strong>Address:</strong> @Model.Address</p>
            <p><strong>Phone number:</strong> @Model.Phone</p>
            <p><strong>E-mail:</strong> @Model.Email</p>
            <p><strong>Open estimates:</strong> @Model.OpenEstimates</p>
            <p><strong>Open repair orders:</strong> @Model.OpenRo</p>
</div>
