@using PDR.Web.Areas.Common.Models
@model FilterModel

@{Bundles.Reference("Content/js/Pages/select-link.js");}
@{Bundles.Reference("Content/js/Pages/Common/InitStyleFilters.js");}

<div class="links">
    <div class="OperationsButton">
        @{Html.RenderPartial("OperationLinks");}
    </div>
    <div id="comTech" class="comTechMargin">
        <input type="checkbox" id="com"/>
        <label id="commission" > Show commission</label>
    </div>

    @(Html.ActionLink<PDR.Web.Areas.Technician.Controllers.InvoicesController>(x => x.ArchiveInvoices(null, null, null), "View archive", new { @class = "viewArchive" }))   
    <input id ="ArchiveInvoiceUrl" type="hidden" value="@Url.Action("ArchiveInvoices", "Invoices")"/>
    <input id ="InvoiceUrl" type="hidden" value="@Url.Action("Index", "Invoices")"/>
        @{Html.RenderPartial("~/Areas/Common/Views/Shared/Partial/Search.cshtml");}
        <span class="gridFilter" >
            <label>
                Statuses:
            </label>
            @Html.DropDownList("statuses", (IEnumerable<SelectListItem>)ViewData["statuses"], new { id = "Statuses" })
            <label>
                Filter by customers:
            </label>
            @Html.DropDownList("customers", Model.Customers, new { id = "Customers", style = "width:177px;" })
        </span>
</div>