
@using PDR.Web.Areas.Common.Models
@model FilterModel

@{
    Bundles.Reference("Content/js/Pages/select-link.js");
}
@{Bundles.Reference("Content/js/Pages/Common/InitStyleFilters.js");}

<div class="links">
    @{Html.RenderPartial("~/Areas/Manager/Views/Shared/OperationLinks.cshtml");}
    <div id="comTech" class="comTechMargin">
        <input type="checkbox" id="com" class="operationIE" />
        <label id="commission" class="commissionIE" >Show commission</label>    
    </div>

    @(Html.ActionLink<PDR.Web.Areas.Common.Controllers.InvoicesController>(x => x.ArchiveInvoices(null, null, null), "View archive", new { @class = "viewArchive" }))   
    <input id ="ArchiveInvoiceUrl" type="hidden" value="@Url.Action("ArchiveInvoices", "Invoices")"/>
    <input id ="InvoiceUrl" type="hidden" value="@Url.Action("Index", "Invoices")"/>
        @{Html.RenderPartial("~/Areas/Common/Views/Shared/Partial/Search.cshtml");}
        <span class="gridFilter">
            <label>
                Filter by teams:
            </label>
            @Html.DropDownList("teams", Model.Teams, new { id = "Teams", style="width:141px;" })
            <label>
                Filter by customers:
            </label>
            @Html.DropDownList("customers", Model.Customers, new { id = "Customers", style="width:177px;" })
        </span>
</div>