@using PDR.Web.Areas.Technician.Models.Reports
@model InvoiceReportModel
@{
    ViewBag.Title = "Estimate report details";
    Bundles.Reference("Content/js/Pages/Default/Reports/InitInvoiceReportDetailsGrid.js");
}
@{Bundles.Reference("Content/js/Pages/Common/InitStyleFilters.js");}

<div class="links">
    @Html.Hidden("reportId", Model.Id)
    <a href="javascript:void(0);" class="active">@Html.DisplayFor(x => x.Title)</a> <span
        class="gridFilter">
        <label>
            Filter by customers:
        </label>
        @Html.DropDownList("customers", (IEnumerable<SelectListItem>)ViewData["customers"], new { id = "Customers" })
    </span>
    <label style="margin-left: 10px;">
        From:</label>
    <input type="text" id="from" class="date-filter" value="@ViewData["start"]" readonly="readonly" />
    <label>
        To:</label>
    <input type="text" id="to" class="date-filter" value="@ViewData["end"]" readonly="readonly" />
</div>
<div id="tabs-1" class="ui-tabs-panel">
    <div class="repair-orders-content">
        <table id="invoiceReportInfoGrid">
        </table>
        <div id="pager">
        </div>
    </div>
</div>
